<div class='nested-fields'>
<%= f.label :name %>    
<div class="field">
    <select name="wine[strain_id]">
        <%= @strains.each do |strain| %>
            <option value="<%= strain.id %>">
            <%= strain.name %>
            </option> 
        <% end %> 
    </select>
</div>
<%= f.label :percentage %> 
<%= f.number_field :percentage, step: :any %>
</div>